<section class="available-service">
  <div class="available-service-wrapper general-section-wrapper">
    <p class="heading-text">SERVICE FOR YOU</p>
    <hr class="heading-hr">
    <div class="service-container">
      <div class="service">
        <div class="img">
          <img src="https://cdn.dribbble.com/users/1259559/screenshots/14007200/media/4e9620975080731746eeef515d8566c0.jpg" alt="">
        </div>
        <div class="info">
          <p class="info-heading">Frontend Development</p>
          <p class="info-body">
            Fully responsive and good ui/ux design for your business. Responsible for developing determining the structure and design of web pages, building reusable codes, optimizing page loading times, and clean design to create the web pages.
          </p>
          <div class="info-tech">
            <p>Tech : </p>
            <div class="technology-icons">
              <i class="devicon-html5-plain-wordmark colored technology-icon"></i>
              <i class="devicon-css3-plain-wordmark colored technology-icon"></i>
              <i class="devicon-javascript-plain colored technology-icon"></i>
              <i class="devicon-bootstrap-plain colored technology-icon"></i>
              <i class="devicon-jquery-plain-wordmark colored technology-icon"></i>
              <i class="devicon-materialui-plain colored technology-icon"></i>
              <i class="devicon-tailwindcss-plain colored technology-icon"></i>
              <i class="devicon-angularjs-plain colored technology-icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="service">
        <div class="img">
          <img src="https://130e178e8f8ba617604b-8aedd782b7d22cfe0d1146da69a52436.ssl.cf1.rackcdn.com/application-security-four-key-steps-showcase_image-10-a-7778.jpg" alt="">
        </div>
        <div class="info">
          <p class="info-heading">Backend Development</p>
          <p class="info-body">
            Secure and reliable backend service like API. Besides focusing on coding, I mainly focus on security like credentials, clean and maintainable services, and so on.
          </p>
          <div class="info-tech">
            <p>Tech : </p>
            <div class="technology-icons">
              <i class="devicon-java-plain colored technology-icon"></i>
              <i class="devicon-spring-plain colored technology-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a [routerLink]="'/resume'" class="custom-btn btn-1"><span>VIEW RESUME</span></a>
  </div>
</section>
