<app-loading *ngIf="showLoading"></app-loading>

<section class="contact" id="contactSection">
  <div class="general-section-wrapper">
    <div class="contact-form">
      <p class="title">CONTACT US</p>
      <hr>
      <p class="text">Let's take the success together...</p>
      <form>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="E-mail">
        <input type="text" placeholder="Phone">
        <textarea name="" id="" cols="30" rows="6" placeholder="Message"></textarea>
        <button class="custom-btn btn-1"><span>SUBMIT</span></button>
      </form>
    </div>
    <div class="map-container">
      <div class="decoration"></div>
      <iframe #mapRef src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d488797.7926151298!2d95.90068488853808!3d16.839608865700637!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1949e223e196b%3A0x56fbd271f8080bb4!2sYangon!5e0!3m2!1sen!2smm!4v1654049548390!5m2!1sen!2smm" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
