<footer>
    <div class="footer-wrapper special-wrapper">
      <p class="icon-text">Dev<span>Z</span></p>
      <div class="links">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/resume" routerLinkActive="active">Resume</a>
        <a routerLink="/project" routerLinkActive="active">Project</a>
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </div>
      <div class="contact">
        <a href="tel: 09984251436"><i-feather name="phone-call" class="feather-icon"></i-feather></a>
        <a href="mailto: zayarlinnnaung.dev@gmail.com"><i-feather name="mail" class="feather-icon"></i-feather></a>
      </div>
      <p class="copy-right-text">Ⓒ 2022 All right resolved by <span>Zayar Linn Naung</span></p>
    </div>
</footer>
