<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="options">
  <div class="theme-changer option" (click)="themeColorChooser.classList.toggle('active')">
    <i-feather class="feather-icon theme-color-icon" name="circle"></i-feather>
  </div>
  <div class="cv option" (click)="downloadCV()">
    <i-feather class="feather-icon" name="file-text"></i-feather>
  </div>
  <div class="dark-mode option" (click)="toggleDarkMode()">
    <i-feather class="feather-icon" name="sun"></i-feather>
  </div>
</div>

<div class="theme-color-chooser" #themeColorChooser>
  <div class="color" (click)="themeColorChooser.classList.toggle('active')" *ngFor="let color of colorList" [style]="{backgroundColor: color}" (click)="changeTheme(color)"></div>
</div>

<div class="social-wrapper" id="socialWrapper" (click)="toggleSocialWrapper()">
  <div class="social-media-container">
    <a href="https://www.facebook.com/zayar.linnnaung/" target="_blank" class="facebook social-media">
      <i-feather class="feather-icon" name="facebook"></i-feather>
    </a>
    <a href="https://github.com/ZayarLinnNaung-Coder" target="_blank" class="github social-media">
      <i-feather class="feather-icon" name="github"></i-feather>
    </a>
    <a href="https://www.linkedin.com/in/zayar-linn-naung/" target="_blank" class="linkIn social-media">
      <i-feather class="feather-icon" name="linkedin"></i-feather>
    </a>
  </div>
  <div class="bar"></div>
</div>
