<section class="landing-section" id="landingSection">
  <div class="landing-section-wrapper general-section-wrapper">
    <div class="intro">
      <p class="intro-text">Hello I'm</p>
      <p class="name">Zayar Linn Naung</p>
      <p class="job">Senior Software Engineer</p>
      <br>
      <p>
        I am a passionate software engineer with extensive experience in enterprise projects like insurance and banking systems using Java, primarily focused on developing scalable, maintainable, and high-performance web applications. 
        <br><br>  
        I have a strong background in microservice architecture and various software engineering skills. 
      </p>
      <br><br>
      <a href="https://twitter.com/Dave_Conner" class="custom-btn btn-1"><span>CONTACT</span></a>
    </div>
    <div class="image">
      <img src="assets/me.png" alt="">
    </div>
  </div>
</section>


<div class="down-btn" (click)="scrollDown()">
  <i-feather class="feather-icon" name="chevrons-down"></i-feather>
</div>
