<section class="landing-section" id="landingSection">
  <div class="landing-section-wrapper general-section-wrapper">
    <div class="intro">
      <p class="intro-text">Hello I'm</p>
      <p class="name">Zayar Linn Naung</p>
      <p class="job">A Full-Stack Developer</p>
      <br>
      <p>
        I'm a full-stack developer based in Yangon, Myanmar. I am passionate about writing codes and developing web applications to solve real-life challenges.
        <br>
        I usually craft front-end with Angular; and I build back-end especially using Spring and Spring Boot.
      </p>
      <br><br>
      <a href="https://twitter.com/Dave_Conner" class="custom-btn btn-1"><span>CONTACT</span></a>
    </div>
    <div class="image">
      <img src="assets/me.png" alt="">
    </div>
  </div>
</section>


<div class="down-btn" (click)="scrollDown()">
  <i-feather class="feather-icon" name="chevrons-down"></i-feather>
</div>
