/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
@import "variable";
@import "util";

body{
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
html,body{
  background-color: var(--primary-color);
  scroll-behavior: smooth;
}
blockquote{
  margin-bottom: 25px;
}
.content {
  h4 {
    font-size: 1.2rem;
    color: var(--opposite-color);
    font-weight: bold;
    margin-bottom: 10px;
  }
  a{
    color: deepskyblue;
  }
  p{
    text-align: justify;
  }
}
p, a, span{
  color: var(--opposite-color);
}

*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  font-size: var(--text-normal);
  font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Titillium Web', sans-serif;

}

a{
  display: inline-block;
  text-decoration: none;
}
.heading-text{
  font-size: $text-lg;
}
.heading-hr{
  width: 100px;
  height: 3px;
  background-color: var(--theme-primary-color);
  outline: none;
  border: 0;
}
.heading-hr-2{
  width: 75px;
  height: 1px;
  background-color: var(--theme-primary-color);
  outline: none;
  border: 0;
}
.special-wrapper{
  padding: 0 150px;
}
.general-section-wrapper{
  padding: 0 300px;
}
.feather-icon{
  stroke-width: 1px !important;
}
.icon-text{
  font-size: $text-lg;
  span{
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--theme-primary-color);
  }
}

input, textarea{
  background-color: var(--secondary-color);
  border: 0;
  //border-bottom: 1px solid var(--theme-primary-color);
  outline: none;
  padding: 15px;
  width: 100%;
  color: var(--theme-primary-color);
}

.ngx-pagination {
  .current{
    background-color: var(--theme-primary-color) !important;
  }
  .disabled{
    color: var(--secondary-opposite-color) !important;
    span{
      color: var(--secondary-opposite-color) !important;
    }
  }
  a{
    color: var(--opposite-color) !important;
    &:hover{
      background-color: #05ce91 !important;
    }
  }
  .pagination-next, .pagination-previous{
    a{
      &:hover{
        background-color: transparent !important;
        color: var(--theme-primary-color) !important;
        border-bottom: 1px solid var(--theme-primary-color);
      }
    }
  }
}
.down-btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: down-up infinite 0.5s;
  &:hover{
    cursor: pointer;
  }
  .feather-icon{
    color: var(--opposite-color);
  }
}
//@media only screen and (max-width: 1300px) {
//  .special-wrapper{
//    padding: 0 4rem;
//  }
//  .general-section-wrapper{
//    padding: 0 10rem;
//  }
//}
@media only screen and (max-width: 950px) {
  .special-wrapper{
    padding: 0 2rem;
  }
  .general-section-wrapper{
    padding: 0 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .special-wrapper{
    padding: 0 1rem;
  }
  .general-section-wrapper{
    padding: 0 1rem;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary-color);
}
